<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>文件管理器</string>
		<key>appImage</key>
		<string>offlinefile.webp</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/apple-store/id1397673548?pt=119132015&amp;ct=ptweather&amp;mt=8</string>
		<key>appid</key>
		<string>1397673548</string>
		<key>urlScheme</key>
		<string></string>
	</dict>
	<dict>
		<key>appName</key>
		<string>音乐播放器</string>
		<key>appImage</key>
		<string>music.webp</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/apple-store/id1399352160?pt=119132015&amp;ct=ptweather&amp;mt=8</string>
		<key>appid</key>
		<string>1399352160</string>
		<key>urlScheme</key>
		<string></string>
	</dict>
	<dict>
		<key>appName</key>
		<string>浏览器</string>
		<key>appImage</key>
		<string>browser.webp</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/apple-store/id1207989604?pt=118555558&amp;ct=ptwpteather&amp;mt=8</string>
		<key>appid</key>
		<string>1207989604</string>
		<key>urlScheme</key>
		<string></string>
	</dict>
	<dict>
		<key>appName</key>
		<string>OCR</string>
		<key>appImage</key>
		<string>ocr.webp</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/apple-store/id1435757309?pt=119132015&amp;ct=ptweather&amp;mt=8</string>
		<key>appid</key>
		<string>1435757309</string>
		<key>urlScheme</key>
		<string></string>
	</dict>
	<dict>
		<key>appName</key>
		<string>壁纸</string>
		<key>appImage</key>
		<string>wallpaper.webp</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/apple-store/id1095319331?pt=118436124&amp;ct=ptweather&amp;mt=8</string>
		<key>appid</key>
		<string>1095319331</string>
		<key>urlScheme</key>
		<string></string>
	</dict>
</array>
</plist>
